
    /* Main Css */

    body {
        background: #ffffff;
    }

    body, a, h1, h2, h3, h4, h5, span, p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    a:hover {text-decoration: unset;}

    .font-weight-300 {font-weight: 300;}
    .font-weight-400 {font-weight: 400;}
    .font-weight-500 {font-weight: 500;}
    .font-weight-600 {font-weight: 600;}

    .f-size-14 {font-size: 14px;}
    .f-size-16 {font-size: 16px;}
    .f-size-18 {font-size: 18px;}

    /* .space */
    .space {
        width: 100% !important;
        clear: both !important;
        padding: 50px 0 ; /* Bunu !important; yapmiyoruz. */
    }

    .navbar-brand img {
        max-height: 50px;
    }

    #topbar {padding: 5px 0;}

    #topbar a {
        font-size: 14px;
        color: #969696;
    }

    .navbar-light .navbar-nav .nav-link {
        font-weight: 600;
        font-size: 14px;
        color: #000000;
        text-transform: uppercase;
    }

    .languageSelector img {
        height: 30px;
        margin: -4px 0 0 0;
    }

    .mega-menu .dropdown-menu {border-radius: 0;}

    .mega-menu .dropdown-menu img {
        height: 40px;
        display: inline-block;
    }

    .mega-menu .dropdown-menu h5 {
        display: inline-block;
        text-align: left;
        font-size: 14px;
        padding: 12px 0;
        margin: 0 0 0 10px;
        color: black;
    }

    .mega-menu .mega-menu-item {
        margin-bottom: 15px !important;
        height: 50px;
        padding: 4px 0;
    }

    .navbarSearch a:after {display: none;}

    .navbarSearch input, .navbarSearch button {border-radius: 0;}

    .bg-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .kvkk-box {
        position: fixed;
        bottom: 20px;
        left: 20px;
        max-width: 100%;
        width: 340px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }

    .kvkk-box p {font-size: 13px;}

    .cursor-pointer {cursor: pointer;}

    #kvkk-close {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    footer {background-color: #000000;}

    footer .newsletter-box {padding: 50px 0;}

    footer .newsletter-box h5 {
        margin-right: 15px;
        color: white;
        padding: 7px 0 0 0;
    }

    footer .newsletter-box input, footer .newsletter-box button {border-radius: 0;}

    footer hr {
        border-color: grey;
        margin: 0 0 50px 0;
    }

    footer ul li {
        list-style: unset;
        display: block;
    }

    footer ul li:first-of-type {
        font-size: 15px;
        color: white;
        font-weight: 600;
    }

    footer ul li a {
        color: #999 !important;
        font-size: 13px;
    }

    .footerSocial a {font-size: 15px;}

    .slider-big-box {height: 390px;width: 100%;}
    .slider-small-box {height: 193px;width: 100%;}
    #homeSlider .col-md-4 a:first-of-type .slider-small-box {margin-bottom: 4px;}

    body.offcanvas-active{
        overflow:hidden;
    }
    .offcanvas-header,.mobileAuthButtonBox { display:none; }
    .authButtton {border-radius: 0;}

    .pageTopArea {
        height: 200px;
        display:flex;
        justify-content:center;
        align-items: center;
    }

    .carousel-item .thumb {
        width: 25%;
        cursor: pointer;
        float: left;
    }
    .carousel-item .thumb img {
        width: 100%;
        margin: 2px;
    }
    .carousel-item img {
        width: 100%;
    }