/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { }

/*/ Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
    .newsletter-box h5 {text-align: center;}
    .newsletter-box form {width: 70%;}
    .newsletter-box form input {width: 85%;}
    .newsletter-box form button {width: 15%;}

    .mega-menu .dropdown-menu img {height: 30px;}
    .mega-menu .dropdown-menu h5 {font-size: 11px;}

    #main_nav {
        background-color: white !important;
        z-index: 9999;
        padding: 0;
    }
    .offcanvas-header {
        padding: 13px 15px;
        height: 65px;
        background-color: black;
    }

    .navbar-nav {padding: 0 15px;}
}

/*/ Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
    .offcanvas-header{ display:block; }
    .navbar-collapse {
        position: fixed;
        top:0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: black;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}

/*/ Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {  }


/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .mega-menu .dropdown-menu {
        min-width: 650px;
    }
    .navbarSearch .dropdown-menu {
        right: 0;
        left: unset;
        min-width: 258px;
        padding: 0;
        border: 0;
    }
}

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }